.grid-container {
    display: flex;
    flex-direction: row;
    
}
.master-div {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}
.sub-div {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}
.sub-style {
    background-color: black;
}